@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* styles/globals.css */
.bangers-font {
  font-family: "Bangers", cursive;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@keyframes rollIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rolling-text {
  display: inline-block; /* Ensures the animation works properly */
  animation: rollIn 0.5s ease forwards; /* Customize duration and easing */
}
